<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>|Project|Ghostkey|</title>
    <link rel="icon" href="static\textures\logo.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="background-zoom"></div>

    <header>
        <h1>Project Gh<img src="static\textures\logo.png"height="25px"style="border-radius:50%">stkey</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/about/">About</a>
            <a href="/guide">Guide</a>
            <a href="/donate">donate</a>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <script src="/static/script.js"></script>
</body>
</html>